In [5]:
import pulp

In [9]:
prob = pulp.LpProblem("SLE", pulp.LpMaximize)

In [11]:
x = pulp.LpVariable("x", cat="Continuous")
y = pulp.LpVariable("y", cat="Continuous")

In [13]:
prob += 120 * x + 150 * y == 1440
prob += x + y == 10

In [15]:
status = prob.solve()

In [17]:
print("Status", pulp.LpStatus[status])

Status Optimal

In [19]:
print("x =", x.value(),"\ny =", y.value())

x = 2.0
y = 8.0

In [21]:
x = pulp.LpVariable("x", cat="Continuous")
y = pulp.LpVariable("y", cat="Continuous")

In [23]:
prob = pulp.LpProblem("SLE", pulp.LpMaximize)

In [29]:
prob += x + 3 * y <= 30
prob += 2 * x + y <= 40
prob += x + 2 * y
prob += x >= 0
prob += y >= 0

In [33]:
status = prob.solve()

In [35]:
print("status", pulp.LpStatus[status])

status Optimal

In [41]:
print("x =", x.value(),"\ny =", y.value(), "\nobj", prob.objective.value())

x = 18.0
y = 4.0
obj 26.0

In [43]:
import pandas as pd

In [750]:
df = pd.read_csv("PyOptBook/2.tutorial/requires.csv")
df

     p   m  require
0   p1  m1        2
1   p1  m2        0
2   p1  m3        1
3   p2  m1        3
4   p2  m2        2
5   p2  m3        0
6   p3  m1        0
7   p3  m2        2
8   p3  m3        2
9   p4  m1        2
10  p4  m2        2
11  p4  m3        2

In [752]:
stock_df = pd.read_csv("PyOptBook/2.tutorial/stocks.csv")
stock_df

    m  stock
0  m1     35
1  m2     22
2  m3     27

In [754]:
gain_df = pd.read_csv("PyOptBook/2.tutorial/gains.csv")
gain_df

    p  gain
0  p1     3
1  p2     4
2  p3     4
3  p4     5

In [756]:
P = gain_df["p"].tolist()
P

['p1', 'p2', 'p3', 'p4']

In [758]:
M = stock_df["m"].tolist()
M

['m1', 'm2', 'm3']

In [760]:
stock = {}
tmp = stock_df["stock"].tolist()
for i in range(len(M)):
    stock[M[i]] = tmp[i]
stock

{'m1': 35, 'm2': 22, 'm3': 27}

In [762]:
gain = {}
tmp = gain_df["gain"].tolist()
for i in range(len(P)):
    gain[P[i]] = tmp[i]
gain

{'p1': 3, 'p2': 4, 'p3': 4, 'p4': 5}

In [764]:
tmp = df.values
require = {}
for i in range(len(tmp)):
    require[(tmp[i][0], tmp[i][1])] = tmp[i][2]
require

{('p1', 'm1'): 2,
 ('p1', 'm2'): 0,
 ('p1', 'm3'): 1,
 ('p2', 'm1'): 3,
 ('p2', 'm2'): 2,
 ('p2', 'm3'): 0,
 ('p3', 'm1'): 0,
 ('p3', 'm2'): 2,
 ('p3', 'm3'): 2,
 ('p4', 'm1'): 2,
 ('p4', 'm2'): 2,
 ('p4', 'm3'): 2}

In [766]:
prob = pulp.LpProblem("LP2", pulp.LpMaximize)

In [768]:
x = {}
for p in P:
    x[p] = pulp.LpVariable("x_%s"%(p), cat="Continuous")
x

{'p1': x_p1, 'p2': x_p2, 'p3': x_p3, 'p4': x_p4}

In [770]:
for p in P:
    prob += x[p] >= 0

In [772]:
for m in M:
    prob += pulp.lpSum([require[p, m] * x[p] for p in P]) <= stock[m]

In [774]:
prob += pulp.lpSum([gain[p] * x[p]] for p in P)

In [776]:
status = prob.solve()
print("Status:", pulp.LpStatus[status])
prob

Status: Optimal

LP2:
MAXIMIZE
3*x_p1 + 4*x_p2 + 4*x_p3 + 5*x_p4 + 0
SUBJECT TO
_C1: x_p1 >= 0

_C2: x_p2 >= 0

_C3: x_p3 >= 0

_C4: x_p4 >= 0

_C5: 2 x_p1 + 3 x_p2 + 2 x_p4 <= 35

_C6: 2 x_p2 + 2 x_p3 + 2 x_p4 <= 22

_C7: x_p1 + 2 x_p3 + 2 x_p4 <= 27

VARIABLES
x_p1 free Continuous
x_p2 free Continuous
x_p3 free Continuous
x_p4 free Continuous

In [778]:
for p in P:
    print(p, x[p].value())
print("obj:", prob.objective.value())

p1 12.142857
p2 3.5714286
p3 7.4285714
p4 0.0
obj: 80.42857099999999

In [780]:
prob

LP2:
MAXIMIZE
3*x_p1 + 4*x_p2 + 4*x_p3 + 5*x_p4 + 0
SUBJECT TO
_C1: x_p1 >= 0

_C2: x_p2 >= 0

_C3: x_p3 >= 0

_C4: x_p4 >= 0

_C5: 2 x_p1 + 3 x_p2 + 2 x_p4 <= 35

_C6: 2 x_p2 + 2 x_p3 + 2 x_p4 <= 22

_C7: x_p1 + 2 x_p3 + 2 x_p4 <= 27

VARIABLES
x_p1 free Continuous
x_p2 free Continuous
x_p3 free Continuous
x_p4 free Continuous

In [782]:
x = pulp.LpVariable.dicts("x", P, cat="Integer")

In [784]:
prob = pulp.LpProblem("IP", pulp.LpMaximize)

In [786]:
for p in P:
    prob += x[p] >= 0
x

{'p1': x_p1, 'p2': x_p2, 'p3': x_p3, 'p4': x_p4}

In [788]:
for m in M:
    prob += pulp.lpSum([require[p, m] * x[p] for p in P]) <= stock[m]

In [790]:
prob += pulp.lpSum([gain[p] * x[p]] for p in P)

In [792]:
status = prob.solve()
print("Status:", pulp.LpStatus[status])

Status: Optimal

In [794]:
for p in P:
    print(p, x[p].value())
print("obj:", prob.objective.value())

p1 13.0
p2 3.0
p3 7.0
p4 -0.0
obj: 79.0

# 演習問題
しっかり学ぶ数理最適化2.4(1)から

In [797]:
prob = pulp.LpProblem("SLE", pulp.LpMaximize)

In [799]:
x = pulp.LpVariable("x", cat="Continuous")
y = pulp.LpVariable("y", cat="Continuous")
z = pulp.LpVariable("z", cat="Continuous")

In [801]:
prob += x + y + z <= 20
prob += 3 * x + 4 * y + 6 * z <= 100
prob += 4 * x + 5 * y + 3 * z <= 100
prob += x >= 0
prob += y >= 0
prob += z >= 0
prob += 4 * x + 8 * y + 10 * z

In [803]:
status = prob.solve()

In [805]:
print("Status:", pulp.LpStatus[status])

Status: Optimal

In [807]:
print("x =", x.value())
print("y =", y.value())
print("z =", z.value())
print("pbj =", prob.objective.value())

x = 0.0
y = 10.0
z = 10.0
pbj = 180.0

In [809]:
df_require = pd.read_csv("PyOptBook/2.tutorial/requires.csv")
df_require

     p   m  require
0   p1  m1        2
1   p1  m2        0
2   p1  m3        1
3   p2  m1        3
4   p2  m2        2
5   p2  m3        0
6   p3  m1        0
7   p3  m2        2
8   p3  m3        2
9   p4  m1        2
10  p4  m2        2
11  p4  m3        2

In [811]:
df_stock = pd.read_csv("PyOptBook/2.tutorial/stocks.csv")
df_stock

    m  stock
0  m1     35
1  m2     22
2  m3     27

In [813]:
df_gain = pd.read_csv("PyOptBook/2.tutorial/gains.csv")
df_gain

    p  gain
0  p1     3
1  p2     4
2  p3     4
3  p4     5

In [815]:
require = df_require.values
requires = {}
for p, m, req in require:
    requires[(p, m)] = req
requires

{('p1', 'm1'): 2,
 ('p1', 'm2'): 0,
 ('p1', 'm3'): 1,
 ('p2', 'm1'): 3,
 ('p2', 'm2'): 2,
 ('p2', 'm3'): 0,
 ('p3', 'm1'): 0,
 ('p3', 'm2'): 2,
 ('p3', 'm3'): 2,
 ('p4', 'm1'): 2,
 ('p4', 'm2'): 2,
 ('p4', 'm3'): 2}

In [817]:
stock = df_stock.values
stocks = {}
for m, stc in stock:
    stocks[m] = stc
stocks

{'m1': 35, 'm2': 22, 'm3': 27}

In [819]:
gain = df_gain.values
gains = {}
for p, gin in gain:
    gains[p] = gin
gains

{'p1': 3, 'p2': 4, 'p3': 4, 'p4': 5}

In [821]:
prob = pulp.LpProblem("LP2", pulp.LpMaximize)

In [823]:
x = {}
for p in gain[:, 0]:
    x[p] = pulp.LpVariable("x_%s"%(p), cat="Continuous")
x

{'p1': x_p1, 'p2': x_p2, 'p3': x_p3, 'p4': x_p4}

In [825]:
for p in gain[:, 0]:
    prob += x[p] >= 0
prob

LP2:
MAXIMIZE
None
SUBJECT TO
_C1: x_p1 >= 0

_C2: x_p2 >= 0

_C3: x_p3 >= 0

_C4: x_p4 >= 0

VARIABLES
x_p1 free Continuous
x_p2 free Continuous
x_p3 free Continuous
x_p4 free Continuous

In [827]:
for m in stock[:, 0]:
    prob += pulp.lpSum([requires[p, m]*x[p] for p in gain[:, 0]]) <= stocks[m]
prob

LP2:
MAXIMIZE
None
SUBJECT TO
_C1: x_p1 >= 0

_C2: x_p2 >= 0

_C3: x_p3 >= 0

_C4: x_p4 >= 0

_C5: 2 x_p1 + 3 x_p2 + 2 x_p4 <= 35

_C6: 2 x_p2 + 2 x_p3 + 2 x_p4 <= 22

_C7: x_p1 + 2 x_p3 + 2 x_p4 <= 27

VARIABLES
x_p1 free Continuous
x_p2 free Continuous
x_p3 free Continuous
x_p4 free Continuous

In [829]:
# for p in gain[:, 0]:
    # print(gains[p], x[p])
prob += pulp.lpSum([gains[p] * x[p] for p in gain[:, 0]])
prob

LP2:
MAXIMIZE
3*x_p1 + 4*x_p2 + 4*x_p3 + 5*x_p4 + 0
SUBJECT TO
_C1: x_p1 >= 0

_C2: x_p2 >= 0

_C3: x_p3 >= 0

_C4: x_p4 >= 0

_C5: 2 x_p1 + 3 x_p2 + 2 x_p4 <= 35

_C6: 2 x_p2 + 2 x_p3 + 2 x_p4 <= 22

_C7: x_p1 + 2 x_p3 + 2 x_p4 <= 27

VARIABLES
x_p1 free Continuous
x_p2 free Continuous
x_p3 free Continuous
x_p4 free Continuous

In [831]:
status = prob.solve()

In [833]:
print(status)

1

In [835]:
print("OBJ", prob.objective.value())

OBJ 80.42857099999999

In [837]:
prob

LP2:
MAXIMIZE
3*x_p1 + 4*x_p2 + 4*x_p3 + 5*x_p4 + 0
SUBJECT TO
_C1: x_p1 >= 0

_C2: x_p2 >= 0

_C3: x_p3 >= 0

_C4: x_p4 >= 0

_C5: 2 x_p1 + 3 x_p2 + 2 x_p4 <= 35

_C6: 2 x_p2 + 2 x_p3 + 2 x_p4 <= 22

_C7: x_p1 + 2 x_p3 + 2 x_p4 <= 27

VARIABLES
x_p1 free Continuous
x_p2 free Continuous
x_p3 free Continuous
x_p4 free Continuous

In [839]:
for p in gain[:, 0]:
    print(p)
    print(p, x[p].value())

p1
p1 12.142857
p2
p2 3.5714286
p3
p3 7.4285714
p4
p4 0.0

In [841]:
gains

{'p1': 3, 'p2': 4, 'p3': 4, 'p4': 5}